*{margin:0;padding:0}
.top{
    text-align: center;
    background-color: #1ABEBF;
}
.top>img{
   margin-top:16px;
   margin-bottom: 12px;
}
.container{
    width:718px;
    margin-left: 250px;
    margin-top:30px;
}
.title-font{
   font-size: 30px;
   color:#4F4F4F;
   font-family: "黑体";
}
.font1{
    margin-top:15px;
    color:#CDCDCD;
    margin-bottom: 30px;
}
.container-p{
    margin-top:61px;
}
table{
    margin-top:43px;
    border-collapse: collapse;
    width:718px;
    text-align: center;
    height:417px;
}
table,td,th{border:2px solid #333}
.table-th{
    background-color: #FF8201;
    color:#fff;
}